= render :partial => "search"

:javascript
  $(document).ready(function() {
    function scroll() {
      var next = $(".active").next();
      if($("#artist_data").find(".artist").length <= 1){}
      else {
        if($(next).length == 0){next = $("#artist_data").find(".artist:first");}
        $(".active").hide();
        $(next).fadeIn('slow');
        $(".active").removeClass("active");
        $(next).addClass("active");
        var handler = setTimeout(function() { scroll();}, 20000);
      }
    }
    $("#artist_data").find(".artist").each(function() { $(this).hide(); })
    $("#artist_data").find(".artist:first").addClass("active").show();
    setTimeout(function() { $("#artist_data").fadeIn('slow');}, 1000);
    clearTimeout(handler);
    var handler = setTimeout(function() { scroll();}, 20000);
    $("#help").hide();
  });
  
#player
  = @player_code
  
#share_options
  #page_url
    %label{:for => "page_link"}
      Permalink
    %input{:size => "45", :onmouseup => "this.select(); return false;", :id => "page_link", :value => @page_url}
  #embed_code
    %label{:for => "embed_code"}
      Embed
    %input{:size => "45", :onmouseup => "this.select(); return false;", :id => "embed_code", :value => @player_code}

#artist_data
  - @data.each do |artist, data|
    .artist
      - unless data[:image].blank?
        .image
          %img{:src => data[:image]}
      .info
        .name= data[:name]
        .lastFM
          %a{:target => "_blank", :href => data[:lastFM]} 
            = data[:lastFM]
        .amazon_link
          %a{:target => "_blank", :href => "http://www.amazon.com/gp/search?ie=UTF8&keywords=#{data[:amazon_link_name]}&tag=notemare-20&index=digital-music&linkCode=ur2&camp=1789&creative=390957"}
            Download From Amazon