!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:name => "title", :content => "Notemare"}
    %meta{:name => "description", :content => "Listen to free music, generate custom playlists, and discover new artists on Notemare! Powered by Grooveshark and Last.fm."}
    %meta{:name => "keywords", :content => "free music, listen to music, playlist, music playlist, online radio, free mp3, discover music, music, online music, music downloads, playlist generator"}
    %link{:rel => 'shortcut icon', :href => "images/favicon.ico", :type => "image/x-icon" }
    = javascript_include_tag "jquery", "application"
    = yield :script
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag "compiled/ie"
    %title Notemare - Instant Playlist Generator
    = render :partial => "layouts/google.html.haml"
  %body
    #wrapper
      #logo= link_to image_tag('banner.png'), root_url
      = yield
      = render :partial => "layouts/help.html.haml"
      #credits
        = "Powered by #{link_to 'last.fm', 'http://last.fm', :target => "_blank"} and #{link_to 'grooveshark', 'http://grooveshark.com', :target => "_blank"} -"
        = "#{link_to "blog", "http://akdarrah.com", :target => "_blank"} -"
        = "#{link_to "@1bertlol", "http://twitter.com/#/1bertlol", :target => "_blank"} -"
        #helper
          = link_to 'help'