!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=utf-8", "http-equiv" => "Content-Type" }
    %link{:rel => 'shortcut icon', :href => "images/favicon.ico", :type => "image/x-icon" }
    = javascript_include_tag "jquery", "application"
    = stylesheet_link_tag "compiled/screen", "compiled/print"
    /[if IE]
      = stylesheet_link_tag "compiled/ie"
    %title Title
    = render :partial => "layouts/google.html.haml"
  %body
    #wrapper
      #logo= image_tag('banner.png')
      = yield
      #credits
        = "powered by #{link_to 'last.fm', 'http://last.fm'} and #{link_to 'grooveshark', 'http://grooveshark.com'}"